BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
DerivePointerAlignment: false
SortIncludes: false
AccessModifierOffset: -4
NamespaceIndentation: All
AlignConsecutiveAssignments: true
AlignOperands: true